*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.logoBox{
    color: #fff;
    font-size: 14px;
    background: #000;
    height: 70px;
    padding: 0 50px;
    .logo{
        img{
            margin-top: 16px;
        }
        
    }
    .backIndex{
        float: right;
        line-height: 70px;
        color: #fff;
    }
}
.title{
    overflow: hidden;
    width: calc(80%-50px);
    height: auto;
    padding: 25px 25px;
    background: url(../images/banner01.jpg) -120px top no-repeat;
    // background-size: 100%;
    // .text{
    //    float: left;
    //     width: 40%;
    //     .imgs{
    //         text-align: right;
    //         img{
    //             width: 50%;
    //             margin-top: 180px;
    //         }
    //     }
         
    // }
    form{
        width: 500px;
        background: #f2f3f5;
        padding: 50px 25px;
        // margin-left: 80px;
        opacity: .9;
        margin: 0 auto;
        position: relative;
        .inputText{
            text-align: center;
            margin-bottom: 10px;
            label{
                display: inline-block;
                width: 45px;
                height: 38px;
                background: #fff;
                text-align: center;
                vertical-align: middle;
                .icon-zhanghao{
                    line-height: 38px;
                    font-size: 26px;
                    color: #b2b2b2;
                }
            }
            input{
                width: 250px;
                height: 40px;
                padding: 6px ;
                border: 1px solid #f2f4f6;
                border-left: none;
                box-sizing: border-box;
                font-size: 16px;
                color: #b2b2b2;
                vertical-align: middle;
            }
            
        }
        .tooltipText{
            position: absolute;
            top: 60px;
            left: 77%;
            text-align: center;
            margin-top: -5px;
            font-size: 14px;
            color: #f60;
        }
        .inputPassword{
            text-align: center;
            margin-bottom: 10px;
            label{
                display: inline-block;
                width: 45px;
                height: 38px;
                background: #fff;
                text-align: center;
                vertical-align: middle;
                .icon-password{
                    line-height: 38px;
                    font-size: 26px;
                    color: #b2b2b2;
                }
            }
            input{
                width: 250px;
                height: 40px;
                padding: 6px;
                border: 1px solid #f2f4f6;
                box-sizing: border-box;
                border-left: none;
                font-size: 16px;
                color: #b2b2b2;
                vertical-align: middle;
            }
        }
        .inputRadio{
            padding-left: 10px;
            font-size: 14px;
            color: #333;
            .iphoneUser{
                margin-left: 20px;
            }
        }
        .inputSubmit{
            margin-top: 20px;
            text-align: center; 
            input{
                width: 300px;
                height: 40px;
                background: #10218b;
                border: none;
                color: #fff;
                font-size: 16px;
                cursor: pointer;
            }
            
        }
        .forgetAccount{
            .forgetPassword{
                float: left;
                 color: #10589e;
                font-size: 14px;
            }
               
            .account{
                float: right;
                color: #10589e;
                font-size: 14px;
            }
        }
        .lineBox{
            margin-top: 50px;
            .Leftline{
                width: 63px;
                float: left;
            }
            .Rightline{
                width: 63px;
                float: right;
            }
            .smPng{
                display: none;
            }
            
            p{
                position: relative;
                text-align: center;
                font-size: 14px;
                // color: #808080;
                a{
                    color: #337ab7;
                }
            }
        }
    }
}


// fluid
.fluidBox{
    background: #000;
    padding: 0 3%;
    .fluid{
        width: 90%px;
        margin: 0 auto;
        background: #000;
        padding: 18px 0;
        height: 26px;
        .fluidLeft{
            width: 355px;
            float: left;
            margin: 0 auto;
            a{
                    font-size: 14px;
                    color: #fff;
                    line-height: 25px;
                    border-right: 1px solid #fff;
                    margin-right: 5px;
                    padding-right: 5px;

            }
        }
        .fluidCenter{
            width: 190px;
            float: right;
            color: #fff;
            font-size: 14px;
            line-height: 25px;
            margin: 0 auto;
        }
        .fluidRight{
            // display: none;
            width: 270px;
            float: right;
            color: #fff;
            font-size: 14px;
            line-height: 25px;
            margin: 0 auto;
        }
        .activeDis{
            display: none;
        }
    }
}
