* {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.clearfix:after {
  content: '';
  display: block;
  overflow: hidden;
  height: 0;
  clear: both;
  visibility: hidden; }

html, body {
  width: 100%; }

.container {
  height: 62px;
  line-height: 62px;
  padding: 0 30px; }

.goodslistBanner {
  width: 100%; }
  .goodslistBanner img {
    max-width: 100%;
    display: none; }
  .goodslistBanner .goodslistBanner-XL {
    display: block; }

.goodsListBox {
  width: 1170px;
  margin: 0 auto; }
  .goodsListBox .goodsFind {
    width: 25%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box; }
    .goodsListBox .goodsFind .searchType {
      height: 32px;
      cursor: pointer;
      background: #0086ef;
      padding: 4px 15px 4px 4px;
      margin: 20px 0 10px; }
      .goodsListBox .goodsFind .searchType input {
        width: calc(100% - 44px);
        height: 32px;
        padding: 0 10px;
        border: none;
        line-height: 32px;
        font-size: 14px;
        color: #9b9c9c; }
    .goodsListBox .goodsFind .goodslistType {
      background: #505050;
      color: #ffffff;
      text-indent: 15px;
      font-size: 18px;
      line-height: 40px; }
    .goodsListBox .goodsFind .goodslistTypeBox.activeFirst {
      margin-top: 10px; }
    .goodsListBox .goodsFind .goodslistTypeBox .goodslistTypeText {
      background: #dadada;
      color: #404040;
      text-indent: 15px;
      font-size: 18px;
      line-height: 40px; }
    .goodsListBox .goodsFind .goodslistTypeBox .goodslistAll {
      border-left: 1px solid #dadada;
      border-right: 1px solid #dadada;
      font-size: 14px;
      padding-right: 10px; }
      .goodsListBox .goodsFind .goodslistTypeBox .goodslistAll li {
        position: relative;
        border-bottom: 1px solid #dadada;
        padding-left: 15px;
        width: 95%;
        display: table;
        height: 40px;
        line-height: 40px; }
        .goodsListBox .goodsFind .goodslistTypeBox .goodslistAll li.markerColock {
          color: #0989ec; }
        .goodsListBox .goodsFind .goodslistTypeBox .goodslistAll li .mark {
          width: 18px;
          height: 40px;
          background: url(../images/radio.png) no-repeat center;
          position: absolute;
          right: 0; }
          .goodsListBox .goodsFind .goodslistTypeBox .goodslistAll li .mark.markActive {
            background: url(../images/radio_active.png) no-repeat center; }
  .goodsListBox .goodsBox {
    width: 75%;
    float: left; }
    .goodsListBox .goodsBox ul {
      width: 100%; }
      .goodsListBox .goodsBox ul li {
        float: left;
        width: 29%;
        box-sizing: border-box;
        margin: 0 15px; }
        .goodsListBox .goodsBox ul li a {
          color: #252525; }
          .goodsListBox .goodsBox ul li a img {
            width: 100%; }
        .goodsListBox .goodsBox ul li h3 {
          font-weight: 100; }
          .goodsListBox .goodsBox ul li h3 a {
            color: #252525; }
        .goodsListBox .goodsBox ul li .smalltxt {
          font-size: 14px;
          line-height: 22px;
          color: #727272; }
        .goodsListBox .goodsBox ul li .money {
          font-size: 14px;
          line-height: 30px;
          color: #232627; }
        .goodsListBox .goodsBox ul li .add {
          display: block;
          color: #0989ec;
          font-size: 12px;
          line-height: 30px;
          padding-right: 13px; }
        .goodsListBox .goodsBox ul li .addBug .buyNow {
          display: block;
          width: 30%;
          font-size: 14px;
          line-height: 30px;
          background: #0989ec;
          color: #ffffff;
          text-align: center;
          float: left; }
        .goodsListBox .goodsBox ul li .addBug .allDetails {
          display: block;
          float: left;
          margin-left: 4px;
          width: 140px;
          height: 30px;
          font-size: 14px;
          color: #fff;
          text-indent: 10px;
          line-height: 30px;
          background: url(../images/search.png) no-repeat 0 0;
          cursor: pointer; }

@media screen and (max-width: 1200px) {
  .goodslistBanner {
    width: 976px; }
    .goodslistBanner .goodslistBanner-XL {
      display: none; }
    .goodslistBanner .goodslistBanner-X {
      display: block; }

  .goodsListBox {
    width: 976px; }
    .goodsListBox .goodsBox ul li {
      width: 45%; } }
@media screen and (max-width: 900px) {
  .goodslistBanner .goodslistBanner-X {
    display: none; }
  .goodslistBanner .goodslistBanner-M {
    display: block; }

  .goodsListBox .goodsFind {
    display: none; }
  .goodsListBox .goodsBox {
    float: none;
    margin: 0 auto; } }

/*# sourceMappingURL=goodslist.css.map */
