* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.logoBox {
  color: #fff;
  font-size: 14px;
  background: #000;
  height: 70px;
  padding: 0 50px; }
  .logoBox .logo img {
    margin-top: 16px; }
  .logoBox .backIndex {
    float: right;
    line-height: 70px;
    color: #fff; }

.title {
  overflow: hidden;
  width: calc(80%-50px);
  height: auto;
  padding: 25px 25px;
  background: url(../images/banner01.jpg) -120px top no-repeat; }
  .title form {
    width: 500px;
    background: #f2f3f5;
    padding: 50px 25px;
    opacity: .9;
    margin: 0 auto; }
    .title form .inputText {
      text-align: center;
      margin-bottom: 10px; }
      .title form .inputText label {
        display: inline-block;
        width: 45px;
        height: 38px;
        background: #fff;
        text-align: center;
        vertical-align: middle; }
        .title form .inputText label .icon-zhanghao {
          line-height: 38px;
          font-size: 26px;
          color: #b2b2b2; }
      .title form .inputText input {
        width: 250px;
        height: 40px;
        padding: 6px;
        border: 1px solid #f2f4f6;
        border-left: none;
        box-sizing: border-box;
        font-size: 16px;
        color: #b2b2b2;
        vertical-align: middle; }
    .title form .inputPassword {
      text-align: center;
      margin-bottom: 10px; }
      .title form .inputPassword label {
        display: inline-block;
        width: 45px;
        height: 38px;
        background: #fff;
        text-align: center;
        vertical-align: middle; }
        .title form .inputPassword label .icon-password {
          line-height: 38px;
          font-size: 26px;
          color: #b2b2b2; }
      .title form .inputPassword input {
        width: 250px;
        height: 40px;
        padding: 6px;
        border: 1px solid #f2f4f6;
        box-sizing: border-box;
        border-left: none;
        font-size: 16px;
        color: #b2b2b2;
        vertical-align: middle; }
    .title form .inputRadio {
      padding-left: 10px;
      font-size: 14px;
      color: #333; }
      .title form .inputRadio .iphoneUser {
        margin-left: 20px; }
    .title form .inputSubmit {
      margin-top: 20px;
      text-align: center; }
      .title form .inputSubmit input {
        width: 300px;
        height: 40px;
        background: #10218b;
        border: none;
        color: #fff;
        font-size: 16px;
        cursor: pointer; }
    .title form .forgetAccount .forgetPassword {
      float: left;
      color: #10589e;
      font-size: 14px; }
    .title form .forgetAccount .account {
      float: right;
      color: #10589e;
      font-size: 14px; }
    .title form .lineBox {
      margin-top: 50px; }
      .title form .lineBox .Leftline {
        width: 63px;
        float: left; }
      .title form .lineBox .Rightline {
        width: 63px;
        float: right; }
      .title form .lineBox .smPng {
        display: none; }
      .title form .lineBox p {
        position: relative;
        text-align: center;
        font-size: 14px; }
        .title form .lineBox p a {
          color: #337ab7; }

.fluidBox {
  background: #000;
  padding: 0 3%; }
  .fluidBox .fluid {
    width: 90% px;
    margin: 0 auto;
    background: #000;
    padding: 18px 0;
    height: 26px; }
    .fluidBox .fluid .fluidLeft {
      width: 355px;
      float: left;
      margin: 0 auto; }
      .fluidBox .fluid .fluidLeft a {
        font-size: 14px;
        color: #fff;
        line-height: 25px;
        border-right: 1px solid #fff;
        margin-right: 5px;
        padding-right: 5px; }
    .fluidBox .fluid .fluidCenter {
      width: 190px;
      float: right;
      color: #fff;
      font-size: 14px;
      line-height: 25px;
      margin: 0 auto; }
    .fluidBox .fluid .fluidRight {
      width: 270px;
      float: right;
      color: #fff;
      font-size: 14px;
      line-height: 25px;
      margin: 0 auto; }
    .fluidBox .fluid .activeDis {
      display: none; }

/*# sourceMappingURL=register.css.map */
